<header class="header">
    <div class="container">
        <h1 class="logo">
            <img src="https://lh5.googleusercontent.com/p/AF1QipM20Ax1REp9UuZQSazPMpIiQhfA_eRXdXJT3VrW=w213-h160-k-no" alt="Notícias.com">
        </h1>
        <nav class="nav">
            <ul class="ul">
                <li class="li"><a routerLink="/">Home</a></li>
                <li><a routerLink="/about">Quem Somos</a></li>
                <li><a routerLink="/institutional">Institucional</a></li>
                <li><a routerLink="/activities">Atividades</a></li>
                <li><a routerLink="/contribute">Contribua</a></li>
                <li><a routerLink="/contact">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>